<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Note Table</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'lab_4/style.css' %}">
</head>

<body>
    <!-- Nav Bar -->
    {% include "nav_bar.html" %}
    <!-- Notes -->
    <h1>Note Table</h1>
    <div id="inner-bg">
        <table>
            {% for note in notes %}
            <div>
                <tr>
                    <div id="title-bg">
                        <h3 id="title">
                            {{ note.title }}
                        </h3>
                    </div>
                </tr>
                <tr>
                    <div id="from">
                        from {{ note.sender }}
                    </div>
                </tr>
                <tr>
                    <div id="to">
                        to {{ note.recipient }}
                    </div>
                </tr>
                <tr>
                    <p id="message">
                        {{ note.message }}
                    </p>
                </tr>
            </div>
            {% endfor %}
        </table>
    </div>
</body>
</html>
