<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    html {
        height: 100%;
        padding: 0;
        margin: 0;
    }

    h1 {
        color: #f2f8f7;
        font-size: 3rem;
        text-align: center;
    }

    body {
        font-family: 'PT Serif', 'Times New Roman', sans-serif;
        color: #121817;
        background-image: linear-gradient(to top right, #28233a, #361e2b, #3c1d22);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        margin: 0;
    }

    a {
        color: #1b95e0;
        text-decoration: none;
    }

    nav { 
        background-color: #090c0fe0;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 2;
        overflow-y: clip;
        font-family: 'Open Sans', 'Helvetica', sans-serif;
    }

    .nav-list {
        display: inline-block;
        padding-left: 0;
        margin: 0;
    }

    .nav-list-item {
        text-align: center;
        width: 5rem;
        padding-top: 0.92rem;
        padding-bottom: 0.92rem;
        display: inherit;
        font-style: italic;
        transition: 50ms;
    }

    li.nav-list-item:hover {
        background: #678aeb60;
        transition: 300ms;
    }

    a.nav-link:link, a.nav-link:visited {
        color: #f2f8f7;
        transition: 250ms;
    }

    a.nav-link:hover, a.nav-link:active {
        color: #596fe7;
        transition: 250ms;
    }


    input[type=text] {
        font-family: 'Open Sans', 'Helvetica', sans-serif;
        width: 30rem;
        padding: 0.4rem;
        border: 2px solid #454c5380;
        border-radius: 4px;
    }

    input[type=submit] {
        background-color: #1b95e0;
        border: none;
        border-radius: 4px;
        color: #f2f8f7;
        padding: 8px 20px;
        text-decoration: none;
        margin: 8px 6px;
        cursor: pointer;
        transition: 250ms;
    }

    input[type=submit]:hover {
        background-color: #30bbe6;
        transition: 250ms;
    }

    input[type=reset] {
        background-color: #e01b3c;
        border: none;
        border-radius: 4px;
        color: #f2f8f7;
        padding: 8px 20px;
        text-decoration: none;
        margin: 8px 6px;
        cursor: pointer;
        transition: 250ms;
    }

    input[type=reset]:hover {
        background-color: #eb4141;
        transition: 250ms;
    }

    textarea {
        font-family: 'Open Sans', 'Helvetica', sans-serif;
        width: 30rem;
        padding: 0.4rem;
        border: 2px solid #454c5380;
        border-radius: 4px;
        resize: none;
    }

    #button-container {
        display: flex;
        align-items: flex-end;
        justify-content: right;
    }

    #inner-bg {
        border-radius: 1rem;
        margin: 4rem;
        display: flex;
        justify-content: center;
    }

    #title-bg {
        background: #c2c8c7;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    #title {
        font-size: 1.3rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        margin-left: 1.5rem;
    }

    #to {
        margin-left: 2rem;
    }

    #from {
        margin-left: 2rem;
    }

    #message {
        margin-left: 2rem;
        margin-bottom: 3rem;
    }
</style>

<body>
    {% include "nav_bar.html" %}

    <h1>Write a note</h1>
    <div id="inner-bg">
        <form action="" method="POST">
            {% csrf_token %}
            <table style="text-align: left;">
            {{ form.as_table }}
            </table>
            <div id="button-container">
                <input type="submit" value="Done">
                <input type="reset">
            </div>
        </form>
    </div>
</body>
</html>