<nav>
    <ul class="nav-list">
        <li class="nav-list-item">
            <a class="nav-link" href="http://localhost:8000/lab-4/">Home</a>
        </li>
        <li class="nav-list-item">
            <a class="nav-link" href="http://localhost:8000/lab-4/add-note">Add Note</a>
        </li>
        <li class="nav-list-item">
            <a class="nav-link" href="http://localhost:8000/lab-4/note-list">Cards</a>
        </li>
    </ul>
</nav>