<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Input Form</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <table style="text-align: left;">
        {{ form.as_table }}
        </table>
        <br>
        <input type="submit" value="Done">
        <input type="reset">
    </form>
</body>
</html>