<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Notes</title>
    </head>
    <body>
        <h1>Notes:</h1>
        </br>
        <table>
            {% for note in notes %}
            <tr>
                <h3>{{ note.title }}</h3>
            </tr>

            <tr>
                from {{ note.sender }}
            </tr>
            <br/>
            <tr>
                to {{ note.recipient }}
            </tr>
            
            <tr>
                <p>{{ note.message }}</p>
            </tr>
		    <br/>
            {% endfor %}
        </table>
    </body>
</html>
