html {
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    color: #f2f8f7;
    font-size: 3rem;
    text-align: center;
}

body {
    font-family: 'PT Serif', 'Times New Roman', sans-serif;
    color: #121817;
    background-image: linear-gradient(to bottom right, #161129, #10293d, #02494e);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
}

a {
    color: #1b95e0;
    text-decoration: none;
}

nav { 
    background-color: #090c0fe0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    overflow-y: clip;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
}

.nav-list {
    display: inline-block;
    padding-left: 0;
    margin: 0;
}

.nav-list-item {
    text-align: center;
    width: 5rem;
    padding-top: 0.92rem;
    padding-bottom: 0.92rem;
    display: inherit;
    font-style: italic;
    transition: 50ms;
}

li.nav-list-item:hover {
    background: #678aeb60;
    transition: 300ms;
}

a.nav-link:link, a.nav-link:visited {
    color: #f2f8f7;
    transition: 250ms;
}

a.nav-link:hover, a.nav-link:active {
    color: #596fe7;
    transition: 250ms;
}

#inner-bg {
    background: #e8f2f5;
    border-radius: 1rem;
    margin: 4rem;
}

#title-bg {
    background: #c2c8c7;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#title {
    font-size: 1.3rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    margin-left: 1.5rem;
}

#to {
    margin-left: 2rem;
}

#from {
    margin-left: 2rem;
}

#message {
    margin-left: 2rem;
    margin-bottom: 3rem;
}